[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
libman = {editable = true, path = "."}
tox = "*"
pylint = "*"
yapf = "*"
invoke = "*"
mypy = "*"
pytest = "*"

[requires]
python_version = "3.6"
